<!-- <p>home works!</p> -->
<body class="site">
  <header></header>
  <main class="site-content">
    <!-- <h1>Hi,</h1>
    <h1>I'm Jason,</h1>
    <h1>web developer</h1> -->

    <h2>
      <span class="rubberBand">H</span>
      <span class="rubberBand">i</span>
      <span class="rubberBand">,</span>
      <br />
      <span>I</span>
      <span>'</span>
      <span>m </span>
      <span> </span>
      <span>J</span>
      <span>a</span>
      <span>s</span>
      <span>o</span>
      <span>n</span>
      <span>,</span>
      <br />
      <span>w</span>
      <span>e</span>
      <span>b </span>
      <span>d</span>
      <span>e</span>
      <span>v</span>
      <span>e</span>
      <span>l</span>
      <span>o</span>
      <span>p</span>
      <span>e</span>
      <span>r</span>
    </h2>
  </main>
  <footer></footer>
</body>
